<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar producto</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="../styles/tablet.css" media="(min-width:768px)">
    <link rel="stylesheet" href="../styles/desktop.css" media="(min-width:1200px)">
    <link rel="stylesheet" href="../styles/agregarProducto.css">
</head>
<body>
    <header>
        <header-component></header-component>
    </header>
    <main>
        <section class="agregar-nuevo">
            <h3 class="agregar-title">Agregar nuevo producto</h3>

            <div class="imagen">
                <div class="agregarImagen">
                    <span class="imagenMas">+</span>
                    <p class="placeholder">  Agregar una imagen para el producto</p>
                </div>
                <p class="texto">o</p>
                <input type="file" class="drop-image" aria-label="Busque en su dispositivo" data-drop>
            </div>

            <div class="descripcion">
                <input type="text" class="nombre" data-nombre placeholder="Nombre del producto">
                <input type="text" class="precio" data-precio placeholder="Precio del producto">
                <textarea class="descripcion" data-descripcion placeholder="Descripcion del producto"></textarea>
                <button class="form-button agregar" type="button">Agregar Producto</button>   
            </div>

        </section>

        <contacto-component></contacto-component>
    </main>
    <footer-component></footer-component>
    <script src="../components/htmlComponents.js" type="text/javascript"></script>
</body>
</html>