<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="../styles/tablet.css" media="(min-width:768px)">
    <link rel="stylesheet" href="../styles/desktop.css" media="(min-width:1200px)">
    <link rel="stylesheet" href="../styles/producto.css">
</head>
<body>
    <header>
        <header-component></header-component>
    </header>
    <main class="producto-main">
        <section class="main-product">
            <div class="main-product__photo"></div>
            <div class="main-product__text">
                <h3 class="title">Producto XYZ</h3>
                <p class="price">$ 60.00</p>
                <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro labore doloremque sed dolorem. Commodi aspernatur fugit dicta praesentium, at, neque saepe nemo veritatis dignissimos, aliquam assumenda atque? Earum, excepturi quibusdam.</p>
            </div>
        </section>
        <section class="related-products">
            <p class="related-products__title">Productos similares</p>
            <section class="related-products__cards">
               <div class="related-card">
                   <div class="product-img one"></div>
                   <h3 class="title">Producto XYZ</h3>
                   <p class="price">$60.00</p>
                   <a href="#" class="ver">Ver producto</a>
               </div>

               <div class="related-card">
                <div class="product-img two"></div>
                <h3 class="title">Producto XYZ</h3>
                <p class="price">$60.00</p>
                <a href="#" class="ver">Ver producto</a>
            </div>

            <div class="related-card">
                <div class="product-img three"></div>
                <h3 class="title">Producto XYZ</h3>
                <p class="price">$60.00</p>
                <a href="#" class="ver">Ver producto</a>
            </div>

            <div class="related-card">
                <div class="product-img four"></div>
                <h3 class="title">Producto XYZ</h3>
                <p class="price">$60.00</p>
                <a href="#" class="ver">Ver producto</a>
            </div>

            <div class="related-card hide">
                <div class="product-img five"></div>
                <h3 class="title">Producto XYZ</h3>
                <p class="price">$60.00</p>
                <a href="#" class="ver">Ver producto</a>
            </div>

            <div class="related-card hide">
                <div class="product-img six"></div>
                <h3 class="title">Producto XYZ</h3>
                <p class="price">$60.00</p>
                <a href="#" class="ver">Ver producto</a>
            </div>
            </section>
        </section>
        <contacto-component></contacto-component>
    </main>
    
    <footer-component></footer-component>
    <script src="../components/htmlComponents.js" type="text/javascript"></script>

</body>
</html>