<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto</title>
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="../styles/tablet.css" media="(min-width:768px)">
    <link rel="stylesheet" href="../styles/desktop.css" media="(min-width:1200px)">
    <link rel="stylesheet" href="../styles/producto.css">
</head>
<body>
    <header>
        <section class="header-up-section">
            <img src="../img/Logo.png" alt="logo aluraGeek" class="header-logo">
            <a href="../index.html" class="header-button">Inicio</a>
            
                
           
        </section>
    </header>
    <main class="producto-main">
        <section class="main-product">
            <div class="main-product__photo"></div>
            <div class="main-product__text">
                <h3 class="title">Producto XYZ</h3>
                <p class="price">$ 60.00</p>
                <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro labore doloremque sed dolorem. Commodi aspernatur fugit dicta praesentium, at, neque saepe nemo veritatis dignissimos, aliquam assumenda atque? Earum, excepturi quibusdam.</p>
            </div>
        </section>
        <section class="related-products">
            <p class="related-products__title">Productos similares</p>
            <section class="related-products__cards">
               <div class="related-card">
                   <div class="product-img one"></div>
                   <h3 class="title">Producto XYZ</h3>
                   <p class="price">$60.00</p>
                   <a href="#" class="ver">Ver producto</a>
               </div>

               <div class="related-card">
                <div class="product-img two"></div>
                <h3 class="title">Producto XYZ</h3>
                <p class="price">$60.00</p>
                <a href="#" class="ver">Ver producto</a>
            </div>

            <div class="related-card">
                <div class="product-img three"></div>
                <h3 class="title">Producto XYZ</h3>
                <p class="price">$60.00</p>
                <a href="#" class="ver">Ver producto</a>
            </div>

            <div class="related-card">
                <div class="product-img four"></div>
                <h3 class="title">Producto XYZ</h3>
                <p class="price">$60.00</p>
                <a href="#" class="ver">Ver producto</a>
            </div>

            <div class="related-card hide">
                <div class="product-img five"></div>
                <h3 class="title">Producto XYZ</h3>
                <p class="price">$60.00</p>
                <a href="#" class="ver">Ver producto</a>
            </div>

            <div class="related-card hide">
                <div class="product-img six"></div>
                <h3 class="title">Producto XYZ</h3>
                <p class="price">$60.00</p>
                <a href="#" class="ver">Ver producto</a>
            </div>
            </section>
        </section>
        <section class="contacto">
            <div class=" politica-img">
                <img src="../img/Logo.png" alt="logo alura-geek">
            </div>
            <section class="politicas">
                <a href="#">Quienes somos</a>
                <a href="#">Politicas de seguridad</a>
                <a href="#">Programa de fidelidad</a>
                <a href="#">Nuestras tiendas</a>
                <a href="#">Quiero una franquicia</a>
                <a href="#">Anuncia aqu&iacute;</a>
            </section>
            <section class="formulario">
                <h3 class="titulo">Cont&aacute;ctanos</h3>
                <form action="#" class="contac-us">
                    <input type="text" name="nombre" id="nombre" placeholder="Nombre">
                    <textarea  id="mensaje"placeholder="Escribe tu mensaje"></textarea>
                    <button type="button" class="form-button">Enviar mensaje</button>
                </form>
            </section>
        </section>
    </main>
    
    <footer>
        <p>Desarrollado por Gilbert Ardila</p>
        <p>2022</p>
    </footer>
</body>
</html>