:root{
    --main-blue:#2A7AE4;
    --white:#FFFFFF;
    --main-background:#E5E5E5;
    --contact-background:#E4F2FD;
    --main-text:#464646;
    --secondary-text:#A2A2A2;
    --main-font-size:1.6rem;
    --secondary-font-size:1.4rem;
    --title-font-size:3.2rem;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}
body{
    width: 100%;
    height: auto;
    font-size: var(--main-font-size);
    font-family: 'Raleway', sans-serif;
    display: grid;
    grid-template-rows: 1fr auto 102px;
}
a{
    text-decoration: none;
    color: var(--main-blue);
}
header{
    width: 100%;
    min-width: 320px;
    height: auto;
    display: flex;
    flex-direction: column;
    color: var(--white);

}
.header-up-section{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    padding-top: 20px;
}
.header-up-section .header-logo{
    width: 100px;
    height: 28px;
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 0 10px;
    margin-right: 20px;
}
.header-up-section .header-button{
    width: 133px;
    height: 40px;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-right: 30px;
    padding: 12px 16px;
    border: 1px solid var(--main-blue);
    text-align: center;
    font-size: var(--secondary-font-size);
    font-weight: bold;
    line-height: 1.644rem;
}
.header-up-section .header-button:hover{
    background-color:#88b1e7;
}
.header-up-section  .header-searcher__logo{
    Width :17.05px;
    Height:17.06px;
    grid-column: 3/4;
    grid-row: 1/2;
    cursor: pointer;
    
}

.header-searcher__input{
    display: none;
    grid-column: 1/4;
    grid-row: 2/3;
    width: 80%;
    height: 30px;
    margin: 0 auto;
    padding: 0 20px;

}
.header-down-section{
    width: 100%;
    height: auto;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(180deg, rgba(0, 0, 0, 0) 41.15%, rgba(0, 0, 0, 0.8) 100%), url('../img/honguito.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
}
.header-down-section h3{
    margin-top: 20%;
    margin-left: 10px;
    color: var(--white);
    font-weight: bold;
    font-size: 2.2rem;
    line-height: 2.583rem;
}
.header-down-section h4{
    font-size: 1.4rem;
    font-style: normal;
    line-height: 1.644rem;
    font-weight: 600;
    color: var(--white);
    margin-left: 10px;
}
.header-down-section a{
    display: block;
    width: 119px;
    height: 40px;
    background-color: var(--main-blue);
    margin: 10px;
    margin-bottom: 20px;
    padding: 12px 16px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: var(--white);
}
.header-down-section a:hover{
    opacity: 0.6;
}
main{
    width: 100%;
    height: auto;
}
.star_wars,
.consolas,
.diversos{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    align-items: flex-end;
    padding-top: 10px;
}
.texto{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}
.titulo{
    margin-bottom: 10px;
   font-weight: 700;
   font-size: 2.2rem;
   line-height: 2.583rem;
   color:var(--main-text);
   
}
.arrow{
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.644rem;
    color: var(--main-blue);
}
.arrow span img{
    width: 10.67px;
    height: 10.67px;
}
.cards{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.star_wars .cards .oculta,
.consolas .cards .oculta,
.diversos .cards .oculta{
    display: none;
}
.cards .card{
    width: 156px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 20px;
}
.cards .card img{
    width: 100%;
    height: 174px;
    margin: 0 auto;
    margin-bottom: 5px;
}
.cards .card p:nth-child(2){
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.644rem;
    color: var(--main-text);
    margin-bottom: 5px;

}
.cards .card p:nth-child(3){
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.878rem;
    color: var(--main-text);
    margin-bottom: 5px;

}
.cards .card a:nth-child(4){
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.644rem;
}
.contacto{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;
    background-color: var(--contact-background);
}
.politicas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 .politica-img{
    width: 176px;
    height: 50px;
    display: flex;
    align-self: center;
}
 .politica-img img{
    width: 90%;
    height: 90%;
}
.politicas a{
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.878rem;
    margin: 10px 0;
    text-align: center;
    color:var(--main-text);

}
.formulario{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}
.formulario input{
    width: 90%;
    height: 56px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 4px ;
    border: none;
    font-family: 'Raleway';
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.6rem;
    color: var(--secondary-text);
}
.formulario textarea{
    width: 90%;
    height: 62px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 20px ;
    border: none;
    font-family: 'Raleway';
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2rem;
    color: var(--secondary-text);
}
.formulario .form-button{
    width: 140px;
    height: 40px;
    padding: 12px 16px;
    background-color: var(--main-blue);
    border: none;
    text-align: center;
    color: var(--white);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.6rem;

}
.formulario .form-button:hover{
    opacity: 0.6;
}
footer{
    width: 100%;
    height: 102px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}