
:root {
    --main-blue: #2A7AE4;
    --white: #FFFFFF;
    --main-background: #E5E5E5;
    --contact-background: #E4F2FD;
    --main-text: #464646;
    --secondary-text: #A2A2A2;
    --main-font-size: 1.6rem;
    --secondary-font-size: 1.4rem;
    --title-font-size: 3.2rem;
}

@media (min-width:768px) {
    .header-up-section {
        grid-template-columns: 25%, 40%, 10%, 25%;
        grid-template-rows: repeat(1, 1fr);
        padding-right: 10px;
    }

    .header-up-section {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        padding-top: 20px;
    }

    .header-up-section .header-button {
        grid-column: 4/5;
    }

    .header-up-section .header-searcher__logo {
        display: none;
    }

    .header-searcher__input {
        display: block;
        grid-column: 2/4;
        grid-row: 1/2;
        border: 1px solid grey;
        border-radius: 10px;
        background-image: url('../img/find.png');
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 15px;


    }

    .contacto {

        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 20px 0px;
        background-color: var(--contact-background);
        align-items: flex-start;
        justify-items: center;
    }

    .politica-img {

        grid-column: 1/2;
        grid-row: 1/2;
    }

    .politicas {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .formulario {

        grid-row: 1/3;
        grid-column: 2/3;
    }



    /*Media queries para producto.html*/

    .producto-main .main-product {
        flex-direction: row;
        padding: 0 20px;
    }
    .producto-main .main-product .main-product__photo{
   width: 254px;
   height: 157px;
    }
    .main-product__text{
        margin-right: 30px;
    }
    .related-products .related-products__cards {
        grid-template-columns: repeat(4, 1fr);
    }
 /* media queries para todos.html*/

 main .todos .todos-up{
   
    flex-direction: row;
    justify-content: space-between;
    
}
    main .todos .todos-cards{
        grid-template-columns: repeat(4,1fr);
       
    }
/*media queries para agregarProductos.html*/
.imagen .texto,
.imagen .drop-image{
    display: flex;
}
.agregar-nuevo .product-form .imagen{
    display: grid;
    grid-template-columns: 1fr 100px 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}
.agregar-nuevo .agregar-title{
    margin-top: 30px;

}
.agregar-nuevo .product-form .imagen .agregarImagen{
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 10px;
}
.agregar-nuevo .product-form .imagen .agregarImagen{
    font-size: 18px;
    background-image: url('../img/cargar.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 42px;
    
}

.agregar-nuevo .imagen .texto{
    grid-column: 2/3;
    grid-row: 1/2;
   ;
}
.agregar-nuevo .imagen .drop-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column: 3/4;
    grid-row: 1/2;
    width: 306px;
    height: 95px;
    padding: 20px 5px;
    border: 1px solid var(--main-blue);
    font-size: 18px;

    
}

.agregar-nuevo .imagen .drop-image button{
    padding: 10px;
}
.agregar-nuevo .imagen .drop-image::before{
    content: "Busque en su dispositivo";
    margin-bottom: 5px;
}
#agregarImagen{
    display: none;
}
#dropImage{
    display: none;
}
.agregarImagen #dragText{
    display: inline;
}
#boton-mobile{
    display: none;
}
}